@import "~src/assets/style/linkin.scss";

.Menu {
    width:100%;
    height:10vh;
    color:$turnOffColor;
    @include flex();
      font-family:$mainFont;
      font-size: 1.40vw;
      letter-spacing: 3px;
    .navigation p {
      cursor: pointer;
      position: relative;
      left: 4vh;
      @include mainTransition(text-shadow,color,-webkit-box-reflect);
    }
    .activedRoute {
        color:$turnOnLightColor;
       @include mainTransition(text-shadow,color,-webkit-box-reflect);
        -webkit-box-reflect:below  -1vw linear-gradient(transparent,#0005,$turnOnLightColor);
    }
    .navigation {
        width:25%;
        height:inherit;
        @include flex(between);

    }
    .auth{
        position:absolute;
        width:15%;
        right:5vw;
    }
}
.content{
    width:100%;
    height:90vh;

    .catalog {
        width:15%;
        height:90vh;
        float:left;
    }
    .outlet {
        width:65%;
        background:$mainBg;
        height:auto;
        height:90vh;
        float:left;
    }
    .allchat {
        width:20%;
        height:90vh;
        float:left;
    }

    div{
        position:relative;
        overflow-y:scroll;
        overflow-x:hidden;
        &::-webkit-scrollbar{display:none;}
    }
}

