@mixin flex($spacing : none,$direction : row){
    display:flex;
    @if $direction == column{
        flex-direction: column;
    }
    @if $spacing == between{
        justify-content: space-between;
    }
    @else if $spacing == around{
        justify-content: space-around;
    }
    @else if $spacing == center{
        justify-content:center;
    }
    align-items:center;
}
@mixin mainBorder($radius: 10px){
  border: 3px solid #66d3e2;
  border-radius: $radius;
  box-shadow: 0 2px 6px 4px rgb(129 1 255 / 50%),
             inset 0 0 10px 3px #7379ff;
}

@mixin mainTransition($optionOne,$optionTwo,$optionThree){
  transition: $optionOne .3s ease-in-out,
              $optionTwo .3s ease-in-out,
              $optionThree .3s ease-in-out;
}
