<div class="login">
    <input ngModel name="UserName" #UserName = "ngModel" (change) = "username(UserName)" type="text" id="username">
    <input ngModel name="Password" #Password = "ngModel" (change) = "password(Password)" type="password">
    <textarea ngModel name="Capcha" #Capcha = "ngModel" (change) = "capcha(Capcha)" id="capcha"></textarea>
    <button>Log in</button>
    <p class="text-username">Username</p>
    <p class="text-password">Password</p>
    <p class="text-capcha">Capcha</p>
</div>
<div class="ads">
    <b>ADS</b>
</div>