@import "~src/assets/style/linkin.scss";


.login {
    position: relative;
    top: 1vh;
    left: 0.5vh;
    width: 99%;
    height: 45vh;
    border: 2px solid aqua;
    box-shadow: 0 0 12px rgb(174, 12, 223);
    border-radius: 15px;
    outline: none;
    @include flex(between, column);

    p {
        text-shadow: 0 0 5px aqua;
        position: relative;
        color: aqua;
        bottom: 22vh;
        right: 30vh;
        font-size: 1.4vw;
        letter-spacing: 0.2vh;
    }
    .text-username {
        position: relative;
        bottom: 23.5vh;
    }
    .text-password {
        position: relative;
        bottom: 22.5vh;
    }
    input {
        top: 3vh;
        width: 33%;
        position: relative;
        bottom: 4vh;
        background-color: black;
        border: 0.1px solid aqua;
        box-shadow: 0 0 10px rgb(174, 12, 223);
        border-radius: 8px;
        color: white;
        font-size: 1.1vw;
        outline: none;
    }
    input[type="password"] {
        position: relative;
        top: 7vh;
    }
    #capcha {
        height: 10vh;
        transform: translate(0vh, 5vh);
    }
    #username {
        transform: translate(0vh, 3vh);
        color: aqua;
    }
    button {
        position: relative;
        width: 20%;
        height: 4.4vh;
        background-color: aqua;
        bottom: -11vh;
        box-shadow: 0 0 10px rgb(174, 12, 223);
        border-radius: 3px;
    }
}
.ads {
    position: relative;
    left: 0.5vh;
    width: 99%;
    height: 80vh;
    border:2px solid aqua;
    border-radius: 15px;
    top: 4vh;
    color: aqua;
    font-size: 3vw;
    @include flex(center, center);
    box-shadow: 0 0 12px rgb(174, 12, 223);
}