@import "~src/assets/style/linkin.scss";

.login-form {
  position: relative;
  left: 1%;
  top: 5%;
  width: 98%;
  height: 60vh;
  border: 2px solid aqua;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(133, 51, 240);

  .move-login {
    position: relative;
    @include flex (evenly, column);
    top: 4vh;

    input {
      width: 37%;
      height: 3.5vh;
      border: 2px solid aqua;
      background: black;
      border-radius: 13px;
      box-shadow: 0 0 15px rgb(133, 51, 240);
      color: aqua;
      outline: none;
      
    }
    b {
      font-size: 1.3vw;
      color: aqua;
      position: relative;
      right: 25%;
      top: 3.2vh;
    }
    .repeat-password {
      position: relative;
      right: 27%;
    }
    .secret-name {
      position: inherit;
      right: 26%;
    }
    button {
      position: relative;
      top: 12vh;
      width: 20%;
      height: 4vh;
      color: black;
      background: aqua;
      box-shadow: 0 0 15px rgb(133, 51, 240);
      border-radius: 2px;
    }
  }
}
.terms-and-agreements {
  position: relative;
  top: 1%;
  width: 98%;
  height: 50vh;
  border: 2px solid aqua;
  left: 1%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(133, 51, 240);
  h1 {
    color: aqua;
    font-size: 1.1vw;
  }
}