<div class="terms-and-agreements">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Esse, tempore nostrum voluptates officia cupiditate assumenda eum 
    suscipit quisquam maiores tenetur amet consectetur numquam fugiat 
    provident pariatur ipsum, aperiam incidunt adipisci!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Esse, tempore nostrum voluptates officia cupiditate assumenda eum 
    suscipit quisquam maiores tenetur amet consectetur numquam fugiat 
    provident pariatur ipsum, aperiam incidunt adipisci!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Esse, tempore nostrum voluptates officia cupiditate assumenda eum 
    suscipit quisquam maiores tenetur amet consectetur numquam fugiat 
    provident pariatur ipsum, aperiam incidunt adipisci!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Esse, tempore nostrum voluptates officia cupiditate assumenda eum 
    suscipit quisquam maiores tenetur amet consectetur numquam fugiat 
    provident pariatur ipsum, aperiam incidunt adipisci!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Esse, tempore nostrum voluptates officia cupiditate assumenda eum 
    suscipit quisquam maiores tenetur amet consectetur numquam fugiat 
    provident pariatur ipsum, aperiam incidunt adipisci!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Esse, tempore nostrum voluptates officia cupiditate assumenda eum 
    suscipit quisquam maiores tenetur amet consectetur numquam fugiat 
    provident pariatur ipsum, aperiam incidunt adipisci!</h1>
</div>
<form class="signup-form">
<div class="login">
  <div class="move-signup">
    <b class="username">Username</b>
    <input ngModel name="BindUsername" #BindUsername = "ngModel" (change) = "username(BindUsername)" type="text" id="username">

    <b class="password">Password</b>
    <input ngModel name="BindPassword" #BindPassword = "ngModel" (change) = "password(BindPassword)" type="password" id="password">

    <b class="repeat-password">Repeat Password</b>
    <input ngModel name="BindRepeat" #BindRepeat = "ngModel" (change) = "repeat(BindRepeat)" type="password" id="repeat-password">

    <b class="secret-name">Secret Name</b>
    <input ngModel name="BindSecretName" #BindSecretName = "ngModel" (change) = "secretname(BindSecretName)" type="password" type="text" id="secret-name">

    <button type="submit" class="signupbtn">Sign Up</button>
  </div>
</div>
</form>