<div class="terms-and-agreements">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Esse, tempore nostrum voluptates officia cupiditate assumenda eum 
    suscipit quisquam maiores tenetur amet consectetur numquam fugiat 
    provident pariatur ipsum, aperiam incidunt adipisci!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Esse, tempore nostrum voluptates officia cupiditate assumenda eum 
    suscipit quisquam maiores tenetur amet consectetur numquam fugiat 
    provident pariatur ipsum, aperiam incidunt adipisci!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Esse, tempore nostrum voluptates officia cupiditate assumenda eum 
    suscipit quisquam maiores tenetur amet consectetur numquam fugiat 
    provident pariatur ipsum, aperiam incidunt adipisci!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Esse, tempore nostrum voluptates officia cupiditate assumenda eum 
    suscipit quisquam maiores tenetur amet consectetur numquam fugiat 
    provident pariatur ipsum, aperiam incidunt adipisci!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Esse, tempore nostrum voluptates officia cupiditate assumenda eum 
    suscipit quisquam maiores tenetur amet consectetur numquam fugiat 
    provident pariatur ipsum, aperiam incidunt adipisci!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Esse, tempore nostrum voluptates officia cupiditate assumenda eum 
    suscipit quisquam maiores tenetur amet consectetur numquam fugiat 
    provident pariatur ipsum, aperiam incidunt adipisci!</h1>
</div>
<div class="login-form">
  <div class="move-login">
    <b class="username">Username</b>
    <input type="text" id="username">

    <b class="password">Password</b>
    <input type="text" id="password">

    <b class="repeat-password">Repeat Password</b>
    <input type="text" id="repeat-password">

    <b class="secret-name">Secret Name</b>
    <input type="text" id="secret-name">

    <button type="submit" class="signupbtn"></button>
  </div>
</div>