@import "~src/assets/style/linkin.scss";


.catalog {
    position: relative;
    top: 4.5vh;
    height: 32vh;
    overflow-y: scroll;
    overflow-x: hidden;
    .catalog-buttons {
        position: relative;
        width: 70%;
        height: 3.5vh;
        border: 2px solid aqua;
        border-radius: 13px;
        box-shadow: 0 0 15px rgb(133, 51, 240);
        bottom: 5%;
        left: 29%;
        color: aqua;
        @include flex(around, column);
        margin: 30px;
        cursor: pointer;
        transition: 0.5s;
        text-decoration: none;
    }
}
.ads {
    left: 15%;
    top: 15%;
    position: relative;
    width: 70%;
    height: 16vh;
    border: 2px solid aqua;
    color: aqua;
    box-shadow: 0 0 15px rgb(133, 51, 240);
    border-radius: 10px;
}
.cripto {
    left: 15%;
    top: 21%;
    position: relative;
    width: 70%;
    height: 20vh;
    border: 2px solid aqua;
    color: aqua;
    box-shadow: 0 0 15px rgb(133, 51, 240);
    border-radius: 10px;
}
.catalog-buttons:hover {
    background-color: rgb(14, 68, 150);
}
::-webkit-scrollbar {
        width: 0vh;
}
