<div class="main"> 
    <div class="obj5">
      <div class="obj4">
        <div class="obj2"  *ngFor = "let first of formebi" > 
          <p  style="color:rgb(255, 255, 255)" class="obj3"> {{first.text}}
          </p>
        </div>
      </div>
    </div>
    <div class="obj6">
      <div class="obj7">
        <img src="https://th.bing.com/th/id/R385b5de68fdb4490e359f4d87796ca4f?rik=Bwmxw%2bgX929PyQ&riu=http%3a%2f%2fcm1.narvii.com%2f7303%2fdfebe2e80c284f4657aa7f67880fc3cd268f1b3f_00.jpg&ehk=nihEDnPRQabLJC%2bfUlNo0MAPXYaE0ddWlxxvlVnhqrU%3d&risl=&pid=ImgRaw"alt="">
      </div>
      <div class="obj7">
        <img src="https://th.bing.com/th/id/R385b5de68fdb4490e359f4d87796ca4f?rik=Bwmxw%2bgX929PyQ&riu=http%3a%2f%2fcm1.narvii.com%2f7303%2fdfebe2e80c284f4657aa7f67880fc3cd268f1b3f_00.jpg&ehk=nihEDnPRQabLJC%2bfUlNo0MAPXYaE0ddWlxxvlVnhqrU%3d&risl=&pid=ImgRaw"alt="">
      </div>
    </div>
  </div>

  